extends layout

block content
  //script.
    //- $(function() {
    //-   $('.datepicker').datepicker({
    //-     minDate: 'today'
    //-   }).on('keypress', function(e){ e.preventDefault(); });
    //- });
  div#contents
    div#calendar
    input#schedulePlan(type="hidden", value="null")
    div.errorMessage= errorMessage
    form(method="post", action="/")    
      table(border="1")
        tr
          th.date 日付
          th.time 時間
          th.containts 内容
          th.user 予約者
          th 各予定操作
        tr
          td 
            //input.datepicker(type="text", name="date", required, readonly, placeholder="日付を入力して下さい")
          td
            select(name='time')
              option(value="07:00") 07:00
              option(value="08:00") 08:00
              option(value="09:00") 09:00
              option(value="10:00") 10:00
              option(value="11:00") 11:00
              option(value="12:00") 12:00
              option(value="13:00") 13:00
              option(value="14:00") 14:00
              option(value="15:00") 15:00
              option(value="16:00") 16:00
              option(value="17:00") 17:00
              option(value="18:00") 18:00
              option(value="19:00") 19:00
              option(value="20:00") 20:00
              option(value="21:00") 21:00
              option(value="22:00") 22:00
          td
            input(type="text", name="contents", required, placeholder="会議室利用内容を入力して下さい", size="80")
          td
            input(type="text", name="name", required, placeholder="名前を入力して下さい")
          td
            input(type="submit", value="予約")
        each data in datas
          tr.eachReserve
            td= data.date
            td= data.time
            td= data.content
            td= data.name
            td 
              a(href="/?id=#{data._id}") キャンセル
